*{/* El siguiente ejemplo elimina el margen y el relleno de todos los elementos HTML*/
	margin: 0px;
	padding: 0px;
	font-family: helvetica;	
}
body{
	background-image: url(../img/4.png);
	background-repeat: no-repeat;
	background-size: 100%;
	background-attachment: fixed;
}
div#vacio1{
	width: 100%;
	height: 650px;
}
div#vacio2{
	width: 100%;
	height: 30px;
	background-color: black;
}
div#contenedor1{
	width: 100%;
	background-size: 100%;
	background-image: url(../img/fondo.png);
	background-attachment: fixed;
	background-repeat: no-repeat;
}
div#body{
	margin: auto;
	width: 1400px;
	height: 700px;
	background-color: white;
}
div#menu{
	position:relative;
	width: 100%;
	height: 100px;
	background-color: #CCEEFF;
}
header figure{
	position: top;
	float: right;
	margin: 8px 100px 0px 0px;
	display: inline-block;
}
header figure img{
	position: top;
	width: 95px;
	height: 90px;
}
header h1{
	font-family: 'show into light', cursive;
	color:write;
	height: 9px;
	margin: 0px 0px 0px 540px;
	font-size: 80px;	
}
ul.menu{
	margin-top:160px;
	list-style: none;
}
header nav ul li{	
	margin-top: 15px; 
	width: 160px;	
	font-size: 20px;
	background-color: #639bb3;
	padding-top: 10px;
	padding-bottom: 20px;
	border-radius: 0px 20px 20px 0px;
	padding-left: 20px;
	box-shadow: 5px 0px 10px #939393;
	-webkit-transition: padding-left 0.3s;/*realiza el efecto de espandir el boton por un determinado tiempo*/
	color: write;
}
header nav ul li:hover{/*devuelve la posicion del boton al estado inicial para hacer el efecto deseado*/
	padding-left:50px;
}
section#contacto{
	width: 100%;
	height: 50px;
	font-size: 3em;

}
body section p{
	text-align: center;
}
section#formulario{
	margin: auto;
	margin-top: 150px;
	max-width: 1000px;
	width: 90%;
	min-height: 200px;
	overflow: hidden;;
}
input.input_form{
	width: 48%;
	height: 35px;
	border-radius: 4px;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid #6DCAEC;
	color: #8A8A8A;
	-webkit-transition: border .3s;
	-ms-transition: border .3s;
	-moz-transition: border .3s;
	-o-transition: border .3s;
	transition: border .3s;
}
textarea#mensaje{
	width: 985px;
	max-width: 985px;
	min-height: 200px;
	max-height: 500px;
	width: 100%;
	margin-top: 20px;
	border-radius: 4px;
	padding-left: 10px;
	padding-top: 10px;
	border: 1px solid #6DCAEC;
	color: #8A8A8A;
}
input#enviar{
	float:right;
	margin-top: 20px;
	background-color: transparent;
	border: 1px solid #6DCAEC;
	border-radius: 4px;
	color: #6DCAEC;
	padding: 10px 25px;
	-webkit-transition: background-color .3s, color .3s;
	-ms-transition: background-color .3s, color .3s;
	-o-transition: background-color .3s, color .3s;
	-moz-transition: background-color .3s, color .3s;
	transition: background-color .3s, color .3s;
	cursor: pointer;
}
input#enviar:hover{
	background-color: #6DCAEC;
	color: white;
}
aside ul{
	text-align: center;
	list-style: none;
	background: #ccc;	
}
aside ul li{
	position:top;	
	height: 4px; 
	margin: 10px 20px 40px;	
	font-size: 25px;
	display: inline-block; 
}
footer{
	background-color: #1C1F1B;
	color: white;
	text-align: center;
	display: block;
	position: top;
	font-size: 1.5em;		
	height: 50px;	
}